{{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.name, {
            label_attr: {
                class: 'form-label'
            },
            attr: {
                class: 'form-control'
            }
        }) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.calories, {
            label_attr: {
                class: 'form-label'
            },
            attr: {
                class: 'form-control w-25'
            }
        }) }}
    </div>
    <div class="d-flex justify-content-end gap-2">
        <a class="btn btn-danger" href="/meal">Cancel</a>
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
